{% extends 'base.html' %}

{% block title %}
    Index Page
{% endblock %}

{% block content_title %}
    <div id="content_title">
        Hello, {{name}}
    </div>
{% endblock %}

{% block content %}
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum laudantium quasi nam est sint. At, culpa aliquid. Magni ratione qui dolorem, quasi nostrum corrupti error, laudantium, sed modi cumque quibusdam! Lorem ipsum
    dolor, sit amet consectetur adipisicing elit. Molestiae labore iure quas consectetur voluptatum perferendis, porro sit dolorem, id aspernatur eligendi! Sunt iure maiores laudantium tempora velit quos veritatis cupiditate! Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Quod enim nemo maiores nam nostrum vel adipisci suscipit. Quam quaerat maiores, nostrum assumenda pariatur corrupti, aspernatur, vitae dolores sed et saepe! Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ducimus necessitatibus
    natus eveniet architecto sed quisquam vero voluptates numquam eligendi tempora aperiam, optio harum quia sequi? Maiores cum quidem omnis.
{% endblock %}